nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-right: 8%;
    padding-left: 8%;
}
.myname{
    color: red;
    font: size 35px; 
    letter-spacing: 1px;
    cursor: pointer;
}
